html, body {
    height: 100%;
}

body {
    overflow:hidden;
}

body, div, p, pre {
    padding: 0;
    margin: 0;
}

.slide {
    height: 100%;
}

.slide .navigation {
    width: 100%;
    display: block;
    
    margin: 5% 0 0 0;

}

.navigation a {
    display: block;
    width: 50%;
    text-align: center;
    float: right;
    
    text-decoration:none;
    color: #666;
    font-size:13px;
    text-transform: uppercase;
    font-family:"Arial", arial, sans-serif;
    
    padding: 1% 0;
}

.slide p,
.slide pre {
    text-align: center;
    float: left;
    width: 80%;
    margin: 15% 10% 0 10%;
    
    font-family:"Times New Roman", times, serif;
    font-size: 48px;
}

.slide pre {
    font-size: 40px;
}

.slide code {
    display: block;
    text-align:left;
}

.slide p strong,
.slide pre strong {
    font-weight: normal;
}

.editLink {
    display:block;
    position: fixed;
    top: 0;
    right: 0;
    width: 30px;
    overflow: hidden;
    padding: 4px 2px 4px 4px;
    
    text-decoration:none;
    font-size:11px;
    text-transform: uppercase;
    font-family:"Arial", arial, sans-serif;
    text-align: center;
}

.editLink span {
    position: absolute;
    left: 0px;
    width: 0px;
    text-indent: -2000px;
}

/* colours */
.slide {
    background: #444;
    border-bottom: 12px solid #555;
}

.slide p,
.slide pre{
    color: #fff;
}

.slide p strong,
.slide pre strong {
    color: #DEAF0D;
}

.editLink {
    background: #333;
    color: #eee;
}