html, body {
    height: 100%;
}

body {
    overflow:hidden;
}

body, div, p, pre, blockquote, ul, ol, li {
    padding: 0;
    margin: 0;
}

.shapes .slide {
    position: absolute;
    font-family: 'PTSansNarrowBold', sans-serif;
    font-weight: bold;
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    letter-spacing: -0.02em;
    width: 10em;
}

.shapes .slide > * {
    width: 14em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.75em;
    display: block;
}

.shapes .slide em {
    color: #444;
    margin: 0 0.02em 0 -0.13em;
}

.shapes .slide strong {
    color: rgb(255, 150, 0);
}

#shapes-bg {
    -webkit-animation: rotation 360s infinite linear;
    animation: rotation 360s infinite linear;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to   {transform: rotate(359deg);}
}

.actions {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    font-size:11px;
}

.actions a {
    float:right;
    padding: 4px 6px 4px 6px;
    
    text-decoration:none;
    font-size:11px;
    text-transform: uppercase;
    font-family:"Arial", arial, sans-serif;
    text-align: center;
}

.actions a span {
    position: absolute;
    left: 0px;
    width: 0px;
    text-indent: -2000px;
}

.actions a {
    background: #33292E;
    color: #DE7B5F;
}