html {
    height: 100%;
}

body {
    min-height: 100%;
}

body, div, h1, h2, p, textarea, input {
    padding: 0;
    margin: 0;
}

.page {
    text-align:center;
    padding-top: 18px;
    min-height: 100%;
}

h1 {
    font-size: 150px;
    font-family: times;
    line-height: 1;
    letter-spacing: -9px;

    margin-left: -14px;
}

h1 a {
    text-decoration: none;
}

h2 {

    font-family: helvetica, arial, sans-serif;
    font-size: 36px;
    font-weight:normal;
    letter-spacing: -1px;
    
    margin-bottom: 30px;
}

.home h2 {
    position: relative;
    bottom: 20px;
    
    margin-bottom: 0;
}

p {
    
}

p,
label {

    font-family: helvetica, arial, sans-serif;
    font-size: 20px;
    line-height: 1.4;
    
    padding: 1em 0;
    width: 500px;
    margin:0 auto;
    text-align: center;
}

h2 a,
p a {
    text-decoration: none;
    padding: 4px 3px 2px 3px;
}

h2 a {
    padding-left: 8px;
    padding-right: 8px;
}

p em {
    font-style: normal;
}

form {
    display: block;
    text-align: right;
    width: 500px;
    margin: 0 auto;
    overflow: auto;
}

textarea,
input.textbox {
    font-family: "courier new", courier, sans-serif;
    font-size: 20px;
    width: 480px;
    padding: 4px;
    height: 24px;
}

textarea {
    height: 24em;
}

label {
    display: block;
    padding: 6px 4px 2px 4px;
    margin: 0.5em 0 0 0;
    float: left;
    width: 112px;
    line-height: 1.2em;
    letter-spacing: 1px;
}

label span {
    display: block;
    position: absolute;
    margin: 12px 0 0 121px;
    width: 360px;
    line-height: 1.5em;
    text-align: left;
}

.home textarea {
    height: 12em;
}

.supported-tags textarea {
    height: 6em;
}

input {
    font-family: helvetica, arial, sans-serif;
    font-size: 48px;
    padding: 8px 8px 2px 8px;
    margin: 0.5em 0;
}

input.textbox {
    width: 360px;
    border-left: none;
}

/* bloody Chrome & webkit, cripple Firefox for consistency */
input[type="submit"]::-moz-focus-inner {
    padding: 6px 0 0 0;
}

.savebutton {
    padding: 0 0 4px 0;
    float: right;
    width: 130px;
    height: 56px;
    margin-top: 1em;
    _padding: 0;
    -webkit-border-radius: 0px;
    -webkit-appearance: none;
    border: 1px solid #000;
}

code {
    padding:0 3px;
}

.message,
label span,
.footer {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 11px;    
}

.footer {
    padding-top: 2em;

}

.footer {
    width: 100%;
    clear: both;
}

/* try http://www.colourlovers.com/palette/1590463/No_Me_Mientas?widths=1 */
body {
    background: #33292E;
    border-bottom: 12px solid #DE7B5F;
}

h1 a {
    color: #F36C13;
    color: #DE7B5F;
}

h2 {
    color: #E3BF20;
}

p {
    color: #ccc;
}

p em {
    color: #fff;
}

h2 a,
p a {
    background: #5C3E4D;
    color: #ccc;
}

textarea,
input.textbox {
    background: #000;
    border: 6px solid #5C3E4D;
}

textarea,
input.textbox {
    color: #DE7B5F;
}

input.textbox {
    border-left: none;
}

label {
    background: #5C3E4D;
    border: 6px solid #5C3E4D;
    border-right: none;
}

code {
    background: #5C3E4D;
}

input {
    background: #000;
    border: none;
    color: #E3BF20;
}

.savebutton {
    
}

.message,
label,
.footer {
    color: #aaa;
}

.footer {
    background: none;
    
}

.page {
    border-top: 14px solid #5C3E4D;
}